<%inherit file="base.mako.html" />
<%block name="content">

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <div class="row">
            <div class="col s12 m6">
                <!-- Tableau des villes -->
                <table id="travels-table" class="centered striped responsive">
                    <thead>
                    <tr>
                        <th data-field="city">Nom</th>
                        <th data-field="start">Pays</th>
                        <th data-field="end">Capitale la plus proche</th>
                    </tr>
                    </thead>
                    <tbody>
                    % for city in cities:
                    <tr onClick="window.location.href = 'admin_cities?city_id=${city.id}';">
                        <td>${city.name}</td>
                        <td>${city.country}</td>
                        <td>${city.nearest_capital}</td>
                    </tr>
                    % endfor
                    </tbody>
                </table>
            </div>
            <form class="col s12 m6">
                <!-- TODO -->
            </form>
        </div>
    </div>
</div>

</%block>