<%inherit file="base.mako.html" />
<%block name="content">

<!-- Jumbotron -->
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">Bienvenue dans l'administration !</h1>
        <div class="row center">
            <h5 class="header col s12 light">Cette partie protégée permet de gérer les voyages et les villes de
                l'application.</h5>
        </div>
        <br><br>

    </div>
</div>
<!-- Blocs -->
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m6">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">work</i></h2>
                    <h5 class="center">Voyages</h5>
                    <p class="center light">Cette page affiche la liste de tous les voyages et vous permet d'en
                        créer, de les modifier ou de les supprimer.</p>
                    <p class="center">
                        <a href="admin_travels" class="waves-effect waves-light btn blue"><i
                                class="material-icons left">settings</i>Gérer</a>
                    </p>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">location_on</i></h2>
                    <h5 class="center">Villes</h5>
                    <p class="center light">Cette page affiche la liste de toutes les villes et vous permet d'en
                        ajouter, de les modifier ou de les supprimer.</p>
                    <p class="center">
                        <a href="admin_cities" class="waves-effect waves-light btn blue"><i
                                class="material-icons left">settings</i>Gérer</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

</%block>