<%inherit file="layout_base.mako.html" />
<%block name="content">

<!-- Jumbotron -->
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">Bienvenue sur <em>TravelCity</em> !</h1>
        <div class="row center">
            <h5 class="header col s12 light">Le comparateur de voyages amateurs vers les grandes villes.</h5>
        </div>
        <br><br>

    </div>
</div>
<!-- Blocs -->
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">star</i></h2>
                    <h5 class="center">Capitales</h5>
                    <p class="center light">Afficher la liste des voyages vers des capitales.</p>
                    <p class="center">
                        <a href="travels?sorting=capitals" class="waves-effect waves-light btn blue"><i
                                class="material-icons left">visibility</i>Consulter</a>
                    </p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">shopping_cart</i></h2>
                    <h5 class="center">Budget</h5>
                    <p class="center light">Afficher la liste des voyages par budget.</p>
                    <p class="center">
                        <a href="travels?sorting=budget" class="waves-effect waves-light btn blue"><i
                                class="material-icons left">visibility</i>Consulter</a>
                    </p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">schedule</i></h2>
                    <h5 class="center">Durée</h5>
                    <p class="center light">Afficher la liste des voyages par durée de transport.</p>
                    <p class="center">
                        <a href="travels?sorting=transport_duration" class="waves-effect waves-light btn blue"><i class="material-icons left">visibility</i>Consulter</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

</%block>
